{% extends 'base.html' %} {% block content %}

<h1>Add a new match</h1>

<form action="/matches" method="post">
    <label for="player1">Select the player wearing white:</label>
      <select name="player1_id" id="player1">
        {% for player in players %}
        <option value="{{ player.id }}">{{ player.name }}</option>
        {% endfor %}
      </select>
    
    <label for="player2">Select the player wearing blue:</label>
      <select name="player2_id" id="player2">
        {% for player in players %}
        <option value="{{ player.id }}">{{ player.name }}</option>
        {% endfor %}
      </select>

    <label for="winner">who won the match: </label>
    <select name="winner" id="winner">
        <option value="player1">Player in white</option>
        <option value="player2">Player in blue</option>
    </select>


    <label for="event">Select the event of this match:</label>
      <select name="event_id" id="event">
          {% for event in events %}
          <option value="{{event.id}}">{{event.name}}</option>
          {% endfor %}
      </select>

    <input type="submit" value="submit">
    
  
 </form>

{% endblock %}