{% extends 'base.html' %} {% block content %}

<h1 class ="h1-center" >Players</h1>
<h2 class="center-text"><a href="/players/new">Add a new player</a></h2>
<p class="center-text">Click on a players name to see their information, and recent matches!</p>
<table class="table-center">
    <tr>
        <th>Name</th>
        <th>Weight</th>
    </tr>
    {% for player in players %}
    <tr>
        <td><a href = "/players/{{player.id}}">{{player.name}}</a></td>
        {% if player.weight_kg <=100  %}
            <td>u{{player.weight_kg}}</td>
        {% else %}
            <td>o100</td>
        {% endif %}
        <td><a href="/players/{{player.id}}/remove">Remove</a></td>
        <td><a href="/players/{{player.id}}/update">Update</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}