{% extends 'base.html' %} {% block content %}

<h1>Players</h1>
<h2><a href="/players/new">Add a new player</a></h2>
<table>
    <tr>
        <th>Name</th>
        <th>Weight</th>
        <th> </th>
        <th> </th>
    </tr>
    {% for player in players %}
    <tr>
        <td><a href = "/players/{{player.id}}">{{player.name}}</a></td>
        {% if player.weight_kg <=100  %}
            <td>u{{player.weight_kg}}</td>
        {% else %}
            <td>o100</td>
        {% endif %}
        <td><a href="/players/{{player.id}}/remove">Remove</a></td>
        <td><a href="/players/{{player.id}}/update">Update</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}