{% extends 'base.html' %} {% block content %}

<h1 class="h1-bottom-margin">Update {{player.name}}</h1>

<form action="/players/{{player.id}}" method="post" class="submission-field">
    <label for="name">Name: </label><br>
        <textarea name="name" id="name" cols="10" rows="1">{{player.name}}</textarea><br>
    
    <label for="gender">Gender: </label><br>
      <select name="gender" id="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select><br>

    <label for="weight_kg">Weight class: </label><br>
    <select name="weight_kg" id="weight_kg">
        <option value="60">u60</option>
        <option value="66">u66</option>
        <option value="73">u73</option>
        <option value="81">u81</option>
        <option value="90">u90</option>
        <option value="100">u100</option>
        <option value="101">o100</option>
    </select><br>


    <input type="submit" value="Update">
    
  
 </form>

{% endblock %}