<!DOCTYPE html>
<html>
    <head>
        <title>Judo Project</title>
    </head>
    <body>
        <main>
            <nav>
                <ul>
                    <li>
                        <a href="/events">Events</a>
                    </li>
                    <li>
                        <a href="/players">Players</a>
                    </li>
                    <li>
                        <a href="/Latest-Matches">Latest Matches</a>
                    </li>
                </ul>
            </nav>
            {% block content %}

            {% endblock%}
        </main>
    </body>
</html>