<!DOCTYPE html>
<html>
    <head>
        <title>Judo Project</title>
    </head>
    <body>
        <main>
            <nav>
                <ul>
                    <li>
                        <a href="/events">Events</a>
                    </li>
                    <li>
                        <a href="/players">Players</a>
                    </li>
                    <li>
                        <a href="/matches">Latest Matches</a>
                    </li>
                    <li>
                        <a href="/add-new-match">Add a new match</a>
                    </li>
                </ul>
            </nav>
            {% block content %}

            {% endblock%}
        </main>
    </body>
</html>