{% extends 'base.html' %} {% block content %}
<h1>Events</h1>
<p>Click on event to see the matches for that event!</p>
<h2><a></a></h2>

<table>
    <tr>
        <th>Event Name</th>
        <th>Location</th>
        <th>Date</th>
        <th></th>
    </tr>
    {% for event in events %}
        <tr>
            <td><a href="/events/{{event.id}}">{{event.name}}</a></td>
            <td>{{event.location}}</td>
            <td>{{event.date}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}